

a, label, button {
  cursor: pointer;
}
body {
  background: #f0f0f0;
}
.header {
}
.header__bg {
  height: 310px;
background: url(../img/header_small_bg.jpg)no-repeat 50%/cover;
}
.navbar {
    background: #07141E;
    padding: 0 36px;
    position: relative;
    z-index: 5;
}
.pb {
  padding: 0 0 83px;
}
.navbar__brand {
  margin: 0 0 0 -25px;
}
.fixed-top {
    background: #07141E;
    position: fixed;
    width: 100vw;
    left:0;
    padding: 0 36px;
    box-sizing: border-box;
    z-index: 6;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.close, .close-video {
  display: none;

}
.navbar__toggle {
    background: transparent;
    border:none;
    width: 26px;
    height: 13px;
    position: relative;
    align-self: center;
      &:before, &:after {
        content: "";
        width:100%;
        height: 1px;
        background: #00BC87;
        position: absolute;
        left:0;
        bottom:0;


      }
      &:after {
        top: 0;
      }
    &.active {
      &:after{
        top:50%;
        transform: rotate(45deg);
        transition: transform .5s;
      }
      &:before {
        top:50%;
        transform: rotate(-45deg);
        transition: transform .5s;
      }
    }
    &:focus {
      outline: none;
    }
}
.hidden {
  overflow: hidden;
}


.navbar__collapse {
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    height: 100vh;
    padding:120px 36px 44px;
    background: #07141E;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: -1;
}

.navbar__collapse:not(.show) {
  display: none;
}
.menu__item {
  margin: 0 0 35px;
  &:hover .menu__link {
    color:darken(#fff,30%)
  }
}
.menu__link {
  color:#fff;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;

}
.submenu {
  display: none;
}
.menu__btn {
  display: inline-block;
  border-radius: 5px;
  padding: 16px 48px;
  background: #00bc87;
  color:#fff;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    background: #fff;
    color:#00bc87;
  }
}

.social__list {
  font-size: 0;


}
.social__item {
  display: inline-block;
  margin:0 30px 0 0;
  &:last-child {
    margin: 0;
  }
}
.social__svg {
  width:20px;
  height: 16px;
  fill:#fff;
  &:hover {
    fill:darken(#fff,30%)
  }
}



.header__content {
  background: #07141e;
  padding: 36px;
  position: relative;
}
.header__title {
  color: #fff;
  font-size: 52px;
  font-weight: 200;
  line-height: 70px;
}
.header__text {
  color:#a8a8a8;
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;

}

.sup {
  font-size: 10px;
  vertical-align: super;
}
.header__links {
  margin: 60px 0 0;
  display: flex;
  justify-content: space-between;

  .video__link {
    position: relative;
    display: inline-block;
    padding: 0 50px 0 0;
    box-sizing: border-box;
    color: #a8a8a8;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    &:before {
      content: "";
      width:25px;
      height: 25px;
      box-sizing: border-box;
      border:1px solid #00bc87;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
    }
    &:after {
      content: "";
      box-sizing: border-box;
      border-left:8px solid #00BC87;
      border-top:8px solid transparent;
      border-bottom:8px solid transparent;
      border-right:8px solid transparent;
      width: 0px;
      height: 0px;
      position: absolute;
      right:-1px;
      top:50%;
      transform: translateY(-50%);
    }
  }
}
.video__modal {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:5;
    &:before {
      content: "";
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background:  #07141e;
      opacity: .7;
    }
    &:not(.show){
      display: none;
    }
}
.video__wrapper {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.video__iframe {

    width: 350px;
    height: 200px;
  }


.event__list {
  list-style-type: none;
  background: #dcdcdc;
  padding: 75px 36px 120px;

}

.event__svg-wrapper {
  width:50px;
  height: 33px;
  border-radius: 17px;
  background: #00bc87;
  position: relative;
  margin: 0 0 50px;
  padding: 5px ;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.event__item {
  padding: 0 0 80px 0;
  color:#1a1a1a;
  &:nth-child(2) .event__svg-wrapper{
    background: #d00090;
  }
  &:nth-child(3) .event__svg-wrapper{
    background: #ffb000;
  }
}
.event__svg {
  width:24px;
  height: 24px;
  fill:#fff;
}


.event__title {
  font-size: 28px;
  line-height: 34px;
}
.event__text {
  font-size: 18px;
  line-height: 26px;
  margin: 30px 0 30px;
  width: 80%;
}
.event__btn {
  display: inline-block;
  border-radius: 5px;
  padding: 18px 76px;
  font-size: 13px;
  border:1px solid #474747;
  color:#474747;
  text-decoration: none;
  text-transform: uppercase;
    &:hover {
        background: #00bc87;
        color:#fff;
        border-color:#00bc87;
    }

}
.about {
  position: relative;

}
  .about__wrapper {
    background: #07141e;


  }
.about__list {
  padding: 90px 36px 60px;
}
.about__item {
  margin: 0 0 60px;
}
.item__title {
  color:#fff;
  font-size: 52px;
  line-height: 72px;
  font-weight: 100;
    .highlight {
      display: block;
      color:#00bc87;
      font-size: 28px;
      line-height: 34px;
    }
    .sup {
      font-size: 25px;
    }
}
.item__text {
  color:#bfbfbf;
    font-size: 18px;
    line-height: 26px;
    margin: 40px 0 0;
}

.about__img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.transition {
  padding: 65px 36px;
  background: #dcdcdc;
}

.transition__title {
  color:#1a1a1a;
  font-size: 28px;
  line-height: 34px;

}
.transition__text {
  color: #717171;
  font-size: 18px;
  line-height: 26px;
  margin: 15px 0 45px;
  opacity: .8
}
.transition__btn {
  display: inline-block;
  position: relative;
  border:1px solid #717171;
  border-radius: 5px;
  padding: 20px 68px 20px 28px;
  text-decoration: none;
  text-transform: uppercase;
  color:#1a1a1a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  svg{display: none;}
  &:hover {
      background: #00bc87;
      color:#fff;
      border-color:#00bc87;
  }

}

.tariff {
  padding: 90px 36px 0;
  background: #00bc87;

}
.tariff__title {
  font-size: 52px;
  line-height: 77px;
  font-weight: 100;
  color:#fff;

}
.tariff__item {
  padding: 70px 0px 100px;
}
.tariff__svg {
  width: 48px;
  height: 48px;
vertical-align: middle;
   }
.group .tariff__svg {
  fill:#00bc87;
  &+span {
    font-size: 28px;
    line-height: 31px;
    vertical-align: middle;
  }
}


.single {
  color:#fff;

}
.single__title {
  font-size: 28px;
  line-height: 31px;
  margin: 20px 0 50px;
}
.time {
  font-size: 22px;
  line-height: 31px;
}
.price__list {
  display: flex;
}
.price__item {
  width: 50%;
  margin: 50px 0 0;
}

.price__text {
  font-size: 16px;
  line-height: 32px;
  color: #dcdcdc;

}
.price__value {
  font-size: 24px;
  line-height: 31px;
}
.tariff__btn {
  display: inline-block;
  margin: 110px 0 0 0;
  border-radius: 5px;
  background: #fff;
  padding: 20px 65px;
  color:#000;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  &:hover {
      background: #000;
      color:#fff;
  }
}

.group {
  background: #dcdcdc;
  color:#000;
  margin: 0 -36px;
  padding: 110px 36px 100px;
}

.group__title {
  font-size: 28px;
  line-height: 31px;
  margin: 20px 0 50px;

}
.group__list {
  margin: 50px 0 0;
}
.times {
  position: relative;
  display: flex;
}
.times__item {
  font-size: 22px;
  line-height: 31px;
  font-weight: 600;
  color:#717171;
  opacity: .6;
  width: 50%;

}
.active {
  color:#1a1a1a;
  opacity: 1;
}
#toggle {
  display: none;
}
.time__toggle {
  display: inline-block;
  position: absolute;
  top:50%;
  left:30%;
  transform: translateY(-50%);
  width: 48px;
  height: 24px;
  border:1px solid #1a1a1a;
  border-radius: 12px;

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #00bc87;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top:50%;
    transform: translateY(-50%);
    transition: .5s;
  }
}

#toggle:checked+.time__toggle:before {
      right: 25px;
}

.group__item:not(.show) {
  display: none;

}
.day__list {
  display: flex;
}
.day__item {
  width: 50%;
  font-weight: 700;
}
.day__text {
  font-size: 16px;
  line-height: 39px;
  color:#717171;

}
.day__price {
  color: #000;
  font-size: 24px;
  line-height: 31px;

}
.surcharge__list {
  display: flex;
  margin: 50px 0;
}
.surcharge__item {
  width: 50%;
}
.surcharge__price {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 1.08px;
}
.surcharge__text {
  color:#717171;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: .72px;
}
.rest {
  display: flex;
}
.rest__text {
  width: 50%;
  color:#717171;
  font-size: 16px;
  line-height: 31px;
}
.rest__price {
  width: 50%;
  color:#000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.bonus {
  padding: 70px 36px 100px;
  display: flex;
  flex-wrap: wrap;

}
.bonus__img {
  margin: 0 0 40px -65px;
  width:100%;
  height: 100%;
  object-fit: contain;
}

.bonus__title {
  color:#1a1a1a;
  font-size: 52px;
  line-height: 65px;
}

.bonus__text {
  color:#717171;
  font-size: 18px;
  line-height: 26px;
  margin: 25px 0 40px;
}

.bonus__item {
    padding: 0 0 0 75px;
    margin:  0 0 40px;
    color:#1a1a1a;
    font-size: 24px;
    line-height: 31px;
    position: relative;
      .highlight {
        color:#00bc87
      }
    &:before {
      content: "1";
      width:45px;
      height: 30px;
      border-radius: 17px;
      position: absolute;
      left:0;
      top:0;
      text-align: center;
      color:#fff;
      font-size: 16px;
      line-height: 28px;
    }
    &:first-child:before {
      background: #00bc87;
    }
    &:nth-child(2):before {
        content: "2";
      background: #d00090;
    }
    &:last-child:before {
        content: "3";
      background: #ffb000;
    }

}
.footer {
  background: #07141e;
}
.map {
}
.map__iframe {
  width:100%;
  height: 390px;
}
.contacts {
  background: #1c262e;

}
.contacts__list {
  padding: 60px 36px;

}
.contacts__item {
  color:#fff;
  font-size: 16px;
  line-height: 31px;
  font-weight: 700;
  margin: 0 0 50px;
}
.contacts__link {
  display: block;
  color:#fff;
  font-size: 24px;
  text-decoration: none;
}

.form {
  padding: 65px 36px;
  background:#07141E;
  box-sizing: border-box;
  &.modal{
    padding-top: 100px;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 5;
    &:not(.show){
      display: none;
    }
  }


}
.form__title {
  color:#fff;
  font-size: 28px;
  line-height: 38px;
  margin: 0 0 60px;
  .modal & {
    color:#00bc87;
  }
}

.form__input {
  background: transparent;
  border:none;
  border-bottom: 1px solid #fff;
  padding:0 0 20px;
  width: 100%;
  margin: 0 0 50px;
  font-size:18px;
  line-height: 31px;
  color: #fff;
  .modal & {
    width: 80%;
  }
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
			font-size:18px;
      line-height: 31px;
			color: #fff;
      .modal &{
        color:#717171;
        font-size: 16px;
        line-height: 31px;
      }
					}
::-moz-placeholder {
      font-size:18px;
      line-height: 31px;
      color: #fff;
      .modal &{
        color:#717171;
        font-size: 16px;
        line-height: 31px;
      }
    }

  .form__btn {
    display: block;
    border-radius: 5px;
    padding: 20px 65px;
    background: #00bc87;
    color:#fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    .modal &{
      line-height: 31px;
      padding: 20px 50px;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background: #fff;
      color:#00bc87;
    }
  }
  .form__text {
    color:#828282;
    font-size: 12px;
    line-height: 22px;
    width: 50%;
    margin: 100px 0 0;
  }
  .footer__menu{
    padding: 20px 36px 50px;
    .menu__list {
      margin: 50px 0 0;
    }
    .menu__item {
      margin:0 0 25px;
    }
  }

  .sub-footer {
    border-top:1px solid #707070;
    padding: 50px 36px;
  }

  .sub-footer__text {
    font-size: 12px;
    line-height: 31px;
    color:#717171;
    margin:  0 0 25px;
    &:last-child{
      margin: 0;
    }
  }
 .sub-footer__link {
   text-decoration: none;
   color:#717171;

 }

@media screen and (min-width:768px){
  .event__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .event__item {
    width: 45%;
  }
  .contacts__item:first-child{
    width: 55%;
  }
  .contacts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contacts__item {
    width: 40%;
  }
}

 @media screen and (min-width:992px){
  .header {
    background: url(../img/header_bg.jpg) 50%/cover;
    padding: 0 0 255px;
    position: relative;


  }
  .navbar {
    background: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  .header__bg {
    display: none;
  }
  .header__content {
    background: none;
    padding: 0;
    margin: 145px 0 0;
  }
  .header__title {
    width: 50%;
  }
  .container {
    width: 90%;
    max-width: 1167px;
    margin: auto;
  }
  .navbar__collapse {
    position: relative;
    background: none;
    flex-direction: row;
    padding: 0;
    height: auto;
    .social__list {
      display: none;
    }
  }
  .navbar__collapse:not(.show) {
    display: flex;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
  .menu__item {
    margin: 0 60px 0 0;
    position: relative;

  }
  .navbar__toggle {
    display: none;
  }
.fixed-top {
  display: none;
}

  .submenu__list {
    display: none;
    padding: 20px 0 0 0;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(50%);

  }

  .submenu {display: inherit;
  padding: 0 20px 0 0;
  &:before {
    content: "";
    width: 0;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    right: 0;
    top:50%;
    transform: translate(50%,-50%);
  }
  &:hover {
    .submenu__list {
    display: block;
      }
    &:before {
        border-top: 7px solid darken(#fff, 30%);

      }
}
}



  .submenu__item {
    display: block;
    box-shadow: 0px 3px 6px #000;
    background: #fff;
    padding: 25px 55px 25px 75px;
    width: 290px;
    box-sizing: border-box;
    position: relative;
    &:first-child{
      border-radius: 5px 5px 0 0;
      &:before {
        content: "";
        width: 0;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:last-child{
      border-radius:0 0 5px 5px;
    }
.submenu__link {
  color:#717171;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  &:before {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    color:lighten(#717171, 20%);
  }
}
svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left:0;
  top:50%;
  transform: translate(100%, -50%);
}
&:first-child svg {
  fill:#00c2ee;
}
&:last-child svg {
  fill: #d00090;
}

  }
  .d-lg-none {display: none;}
  .header__content {
  }
  .header__links {
    margin: 195px 0 0;
    display: flex;
  }

.event {position: relative;
  z-index: 2;

}
.event__list {

  padding: 110px 10px 100px 10px;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
  }
  }
  .event__title {
    width: 100%;
  }
  .event__item {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.event__btn {
  align-self: flex-end;
}
.about__wrapper {
  padding: 155px 0 360px 0;

}
.about__list {
  display: flex;
  justify-content: space-between;
  padding: 0;

}
.about__item {
  margin: 0 30px 0 0;
}
.about__img-wrapper {
  position: relative;
  top:-240px;
text-align: right;
}
.about__img {
  width: 50%;
  }

  .transition {
    padding: 35px 50px 45px 65px;
    width: 470px;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
  }
  .transition__btn {
    box-sizing: border-box;
    width: 100%;
    svg {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 45px;
        top:50%;
        transform: translateY(-50%);
    }
    &:hover svg {
      fill:#fff;
    }
  }

.tariff {
  padding: 0;
  background: none;
  .container {
  }
}
.tariff__wrapper {
  background: #00bc87;
  padding: 115px 0 0;
  position: relative;
  &:before, &:after {
    content: "";
    width:calc((100vw - 1167px)/3);
    height: 100%;
    position: absolute;
    right: 100%;
    background: inherit;
    top:0;
  }
  &:after {
    left: 100%;
  }
}
.tariff__list {
  display: flex;
  justify-content: space-between;
}
.tariff__item {
  width: 50%;
}
.group {
  margin: -70px 0 0 0;
  padding: 140px 100px 100px;
  position: relative;
  box-sizing: border-box;
  &:before {
    content: "";
    height: 100%;
    width: calc((100vw - 1167px)/3);
    position: absolute;
    top:0;
    left: 100%;
    background: inherit;
    z-index: 2;
  }
}
.single {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  .single__wrapper {
    width: 100%;
    }
  }
  .bonus {
    padding: 70px 36px 250px;
  }
  .bonus__img-container {
    width: 50%;
  }
  .bonus__img {
    width: 590px;
  }
.bonus__content {
  width: 35%;
}
.footer {
  padding: 0 0 80px 0;
  .container{
  display: flex;
  flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;}
}
.contacts {
  width: 60%;
  position: relative;
  margin: -180px 0 0;
  &:before {
    content: "";
    width: calc((100vw - 100%)/2);
    height: 100%;
    background: #1c262e;
    position: absolute;
    right: 100%;
  }

}

.modal-wrapper {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3c3c3c;
}
.modal-wrapper:not(.show){
  display: none;
}
.close {
  display: block;
  width: 30px;
  height: 30px;
  background: #00BC87;
  border-radius: 50%;
  position: absolute;
  right: 35px;
  top:40px;
  border: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    background: darken(#00BC87,10%)
  }
  &:before, &:after {
    content: "";
    width:80%;
    height: 1px;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
      }
      &:before {
          transform:translate(-50%, -50%) rotate(45deg);
      }
      &:after {
          transform:translate(-50%, -50%) rotate(-45deg);
      }
}
.form {
  width: 35%;
  &.modal {
    padding: 100px 145px;
    width: 70vw;
    height: 90vh ;
    max-width: 850px;
    max-height: 580px;
    margin: auto;
    z-index: 3;
    & .form__input {
      width:45%;
      display: inline-block;
      &:first-child {
        margin: 0 30px 0 0;
      }
    }

  }
}
.form__text {
  width: 100%;
}


.footer__menu {
  width: 100%;
  padding: 0;
  display: flex;

  align-items: center;
  .menu__list {
  margin: 0;
  width: 50%;
  }
  .menu__item {
    margin: 0;
  }
  .social__list {
    margin: 0 0 0 auto;

    }

}
.sub-footer {
  width: 100%;
  display: flex;
  padding: 0;
}
.sub-footer__text {
  margin: 0 40px 0 0;
}
.sub-footer__text:last-child {
  margin-left: auto;
}
.video__modal:before {
  background: #3c3c3c;
  opacity: inherit;
}
.close-video {
  display: block;
  width: 30px;
  height: 30px;
  background: #00BC87;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 105%;
  border: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    background: darken(#00BC87,10%)
  }
  &:before, &:after {
    content: "";
    width:80%;
    height: 1px;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
      }
      &:before {
          transform:translate(-50%, -50%) rotate(45deg);
      }
      &:after {
          transform:translate(-50%, -50%) rotate(-45deg);
      }
    }
    .video__iframe {
        width: 800px;
        height: 400px;
      }
}
@media screen and (min-width:1200px){
  .event__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: -150px 0 180px 180px;
    width: calc(100% - 180px);
    padding: 110px 10px 100px 170px;
    box-sizing: border-box;
    &:before {
      content: "";
      width:50vw;
      height:100%;
      position: absolute;
      top:0;
      left:inherit;
      right: 0;
      background: inherit;
      z-index: -1;
      }
    }
    .contacts__list {
      display: flex;
      justify-content: space-between;
      padding: 60px 0;
      flex-wrap: nowrap;
    }
    .contacts__item:first-child {
      width: 50%;
      margin: 0 20px 0 0;
    }
}
